<div class="card my-2 data61-border">
  <div class="card-body">

    <span class="card-title">
      <h4>
        
          <a class="text-dark" href="/share/talks/functional-programming-in-education/functional-programming-in-education.pdf">Functional Programming in Education</a>
        
      </h4>
    </span>

    <p>
      <a href="/people/gwilson">
        George Wilson
      </a>

      
      <span class="float-right">
        
          <a href="http://lambdajam.yowconference.com.au/">YOW! Lambda Jam</a>
        
      </span>
    
    </p>

    <p class="text-right m-0">May 15, 2019</p>

  </div>
    <div class="card-footer">
      
        <a href="/share/talks/functional-programming-in-education/functional-programming-in-education.pdf">
        Slides
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-table fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      

      
      <a href="https://github.com/qfpl/fp-in-education-slides">
        Code
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
    </div>
</div>
