<div class="p-1">
  <h4 class="data61-bottom-line">
    > <a href="/people/dlaing">Dave Laing</a>
  </h4>
  <p>Dave is a programmer working at the Queensland Functional Programming Lab.</p>
<p>He is interested in all kinds of things related to the theory, practice and teaching of functional programming and the various associated libraries, branches of mathematics, tools and folkore.</p>
<p>At the moment he is particularly interested in Nix (a functional package management system), reflex (a feature-rich functional reactive programming library), and diving deep into programming language theory to try to write better domain specific languages.</p>
</div>
