<div class="card my-2 data61-border">
  <div class="card-body">

    <span class="card-title">
      <h4>
        
          <a class="text-dark" href="/share/talks/intro-to-reflex-bfpg/slides.html">Reflex: front-end development done awesome</a>
        
      </h4>
    </span>

    <p>
      <a href="/people/dlaing">
        Dave Laing
      </a>

      
      <span class="float-right">
        
          <a href="http://bfpg.org">BFPG</a>
        
      </span>
    
    </p>

    <p class="text-right m-0">July 18, 2017</p>

  </div>
    <div class="card-footer">
      
        <a href="/share/talks/intro-to-reflex-bfpg/slides.html">
        Slides
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-table fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      

      
      <a href="https://github.com/qfpl/intro-to-reflex-bfpg">
        Code
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
        <span class="float-right align-middle">
        
          <a href="/projects/reflex">Reflex</a>
        
        </span>
      
    </div>
</div>
