<div class="card my-2 data61-border">
  <div class="card-body">

    <span class="card-title">
      <h4>
        
          <a class="text-dark" href="/share/talks/propagators-2019/propagators.pdf">An Intuition for Propagators</a>
        
      </h4>
    </span>

    <p>
      <a href="/people/gwilson">
        George Wilson
      </a>

      
      <span class="float-right">
        
          <a href="http://www.composeconference.org/">Melbourne :: Compose 2019</a>
        
      </span>
    
    </p>

    <p class="text-right m-0">September  2, 2019</p>

  </div>
    <div class="card-footer">
      
        <a href="/share/talks/propagators-2019/propagators.pdf">
        Slides
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-table fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
      <a href="https://www.youtube.com/watch?v=nY1BCv3xn24">
        Video
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-film fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
      <a href="https://github.com/qfpl/intuition-for-propagators-slides">
        Code
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
    </div>
</div>
