<div class="card my-2 data61-border">
  <div class="card-body">

    <span class="card-title">
      <h4>
        
          <a class="text-dark" href="/share/talks/cargo-culting-lenses/talk.html">Cargo Culting Lenses for Fun & Profit</a>
        
      </h4>
    </span>

    <p>
      <a href="/people/schalmers">
        Sean Chalmers
      </a>

      
      <span class="float-right">
        
          <a href="https://linux.conf.au/">LinuxConfAU 2018</a>
        
      </span>
    
    </p>

    <p class="text-right m-0">January 23, 2018</p>

  </div>
    <div class="card-footer">
      
        <a href="/share/talks/cargo-culting-lenses/talk.html">
        Slides
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-table fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
      <a href="http://youtu.be/qte7U3Cexhc">
        Video
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-film fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
      <a href="https://github.com/qfpl/cargo-culting-lenses-ffp">
        Code
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
    </div>
</div>
