<div class="card my-2 data61-border">
  <div class="card-body">

    <span class="card-title">
      <h4>
        
          <a class="text-dark" href="/share/talks/comma-police/sv.pdf">Comma Police: The Design and Implementation of a CSV Library</a>
        
      </h4>
    </span>

    <p>
      <a href="/people/gwilson">
        George Wilson
      </a>

      
      <span class="float-right">
        
          <a href="http://lambdajam.yowconference.com.au/">YOW! Lambda Jam</a>
        
      </span>
    
    </p>

    <p class="text-right m-0">May 23, 2018</p>

  </div>
    <div class="card-footer">
      
        <a href="/share/talks/comma-police/sv.pdf">
        Slides
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-table fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
      <a href="https://www.youtube.com/watch?v=zP-DgjIcCho">
        Video
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-film fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
      <a href="https://github.com/qfpl/comma-police-ylj-2018">
        Code
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
    </div>
</div>
