<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a href="/projects/language-star">language-*</a>
    </h2>
  </div>
  <div class="panel-body">
    <p>Principled tooling for working with existing programming languages using Haskell</p>
  </div>
</div>
