<div class="p-1">
  <h4 class="data61-bottom-line">
    > <a href="/people/schalmers">Sean Chalmers</a>
  </h4>
  <p>Likes riding motorcycles, lenses, text editors, software that works, and writing documentation. Hates not having errors as values, not being able to use lenses, and writing bios.</p>
</div>
