<h4 class="data61-bottom-line">
  > <a href="/projects/reflex">Functional Reactive Programming with `reflex`</a>
</h4>
<p class="px-2">
  <p>We’re preparing educational materials about the <a href="https://github.com/reflex-frp"><code>reflex</code></a> library, and using it to see what exciting things we can do with FRP.</p>
</p>
