<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a href="/projects/reflex">Functional Reactive Programming with `reflex`</a>
    </h2>
  </div>
  <div class="panel-body">
    <p>We’re preparing educational materials about the <a href="https://github.com/reflex-frp"><code>reflex</code></a> library, and using it to see what exciting things we can do with FRP.</p>
  </div>
</div>
