<h4 class="data61-bottom-line">
  > <a href="/projects/professional-fp-courses">Functional programming courses</a>
</h4>
<p class="px-2">
  <p>Courses to kickstart or further your knowledge of functional programming.</p>
</p>
