<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a href="/projects/professional-fp-courses">Functional Programming Courses</a>
    </h2>
  </div>
  <div class="panel-body">
    <p>Courses to kickstart or further your knowledge of functional programming.</p>
  </div>
</div>
