<h4 class="data61-bottom-line">
  > <a href="/projects/infra">The QFPL infrastructure work</a>
</h4>
<p class="px-2">
  <p>We’re using functional programming to set up the infrastructure that we use from day to day.</p>
<p>That infrastructure is predominantly based on the <a href="https://nixos.org/">NixOS operating system</a>.</p>
</p>
