<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a href="/projects/infra">The Functional Infrastructure Project</a>
    </h2>
  </div>
  <div class="panel-body">
    <p>We’re using functional programming to set up the infrastructure that we use from day to day.</p>
  </div>
</div>
