<div class="p-1">
  <h4 class="data61-bottom-line">
    > <a href="/people/ajmcmiddlin">Andrew McMiddlin</a>
  </h4>
  <p>Andrew likes solving problems with software, and <em>really</em> likes doing it with functional programming. One day he’ll write a language. One day…</p>
<p>Andrew is also the programmer formerly known as Andrew McCluskey (or ajmccluskey), so if you see that name around there’s a good chance it’s referring to this new and improved Andrew.</p>
</div>
