<div class="p-1">
  <h4 class="data61-bottom-line">
    > <a href="/people/ajmcmiddlin">Andrew McMiddlin</a>
  </h4>
  <p>Andrew digs referential transparency, static typing, coffee, and table tennis.</p>
</div>
