<div class="card my-2 data61-border">
  <div class="card-body">

    <span class="card-title">
      <h4>
        
          <a class="text-dark" href="/share/talks/propagators/slides.pdf">Propagators: An Introduction</a>
        
      </h4>
    </span>

    <p>
      <a href="/people/gwilson">
        George Wilson
      </a>

      
      <span class="float-right">
        
          <a href="http://bfpg.org">Brisbane Functional Programming Group</a>
        
      </span>
    
    </p>

    <p class="text-right m-0">November 14, 2017</p>

  </div>
    <div class="card-footer">
      
        <a href="/share/talks/propagators/slides.pdf">
        Slides
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-table fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      

      
      <a href="https://github.com/qfpl/propagators-bfpg">
        Code
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      

      
    </div>
</div>
