<div class="p-1">
  <h4 class="data61-bottom-line">
    > <a href="/people/bkolera">Ben Kolera</a>
  </h4>
  <p>Ben is self-confessed “Full Stack Functional Programmer” and finds a lot of comfort from the power-boost that FP gives to creating and operating web apps (without catching fire). He loves things like Haskell, Reflex, Nix, Servant, Miso and Elm.</p>
</div>
