<div class="p-1">
  <h4 class="data61-bottom-line">
    > <a href="/people/tmorris">Tony Morris</a>
  </h4>
  <p>Tony Morris is a programmer at the Queensland Functional Programming Lab. Tony has been deploying functional programming solutions for over 10 years, using the Haskell and Scala programming languages primarily. Tony teaches functional programming at the tertiary level and for professional programmers with a view toward producing a viable commercial result.</p>
</div>
